.drop-down {
  width: 100%;
  position: relative;
  > div:first-child {
    color: rgba(0, 0, 0, 0.35);
  }
  &:focus-within > div:first-child {
    color: #027ffa;
  }
  input[type="text"]:focus-visible {
    box-shadow: none;
  }
  // select {
  //     margin: 0;
  //     display: flex;
  //     gap: 1rem;
  //     list-style: none;
  //     background: rgba(0, 0, 0, 0.075);
  //     border: none;
  //     color: white;
  //     width: 100%;
  //     font-size: 14px;
  //     border-radius: 12px;
  //     padding: 34px 18px 14px;
  //     -moz-appearance: none; /* Firefox */
  //     -webkit-appearance: none; /* Safari and Chrome */
  //     appearance: none;
  //     option {
  //         padding: 0.75rem 1rem;
  //         box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  //         border-radius: 5px;
  //         display: flex;
  //         gap: 0.5rem;
  //         align-items: center;
  //         cursor: pointer;
  //         white-space: nowrap;
  //         margin: 0;
  //         font-size: 14px;
  //         input {
  //             cursor: pointer;
  //         }
  //         &:hover {
  //             background: rgba(0, 0, 0, 0.05);
  //             box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
  //         }
  //         &.active {
  //             background: #7af2;
  //             box-shadow: inset 0 0 0 2px #7af;
  //             font-weight: 500;
  //         }
  //     }
  // }
}
