$primary: #272d3e;
$primary_darkened: #171d2e;
$primary_light: #f0f0fa;
$bg_light_red: #faf0f0;
$bg_light_grey: #f5f5f5;
$textblack: #2e2e2e;
$text_grey: #777;
$text_darken_50: rgba(0, 0, 0, 0.5);
$text_lighten_50: rgba(255, 255, 255, 0.5);

$primary_10: #4646b811;
$primary_15: #4646b822;
$primary_20: #4646b833;
$primary_30: #4646b850;
$primary_40: #4646b875;
$primary_50: #4646b899;
$primary_lightened_10: #5656c8;
$primary_lightened_20: #7676e8;
$primary_lightened_30: #8686ff;

$yellow: #ffb846;
$yellow_light: #ffb84622;

$accent: #ff9902;

$text_red: #b84646;

$lighten_87: rgba(255, 255, 255, 0.87);
$lighten_75: rgba(255, 255, 255, 0.75);
$lighten_63: rgba(255, 255, 255, 0.63);
$lighten_50: rgba(255, 255, 255, 0.5);
$lighten_33: rgba(255, 255, 255, 0.33);
$lighten_15: rgba(255, 255, 255, 0.15);
$lighten_10: rgba(255, 255, 255, 0.1);
$lighten_05: rgba(255, 255, 255, 0.05);

$darken_05: rgba(0,0,0,0.05);
$darken_10: rgba(0,0,0,0.1);
$darken_15: rgba(0,0,0,0.15);
$darken_33: rgba(0,0,0,0.33);
$darken_50: rgba(0,0,0,0.5);
$darken_75: rgba(0,0,0,0.75);

$dm_background: #20202f;
$dm_background_gradient: linear-gradient(145deg, #20202f, #0f0010);
$dm_text: #777;
$dm_primary_light: #f0f0fa11;
$dm_text_primary_lightened: #7676e8;
$dm_background_primary: #1f163e;
